player-connection-mode=Listen
player-connection-guid=3909949967
player-connection-debug=0
player-connection-project-name=PUN-tutorial
player-connection-ip=172.24.208.1
player-connection-ip=172.26.64.1
player-connection-ip=192.168.1.120
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
